<div id="container-general" class="mt-4">
  <h5 class="text-center fw-bolder"> Conoce nuestros productos con descuento</h5>
  <div class="container">
    <hr>
    <div class="row">

      <div class="col-md-6">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="https://png.pngtree.com/png-vector/20190321/ourlarge/pngtree-vector-discount-icon-png-image_854812.jpg" class="img-fluid rounded-start p-4" alt="...">
            </div>
            <div class="col-md-8" id="contenedor-texto">
              <div class="card-body">
                <h5 class="card-title">Producto 1</h5>
                <p class="card-text">Aprovecha el descuento de X producto. Conoce la mejor plantilla ...</p>
                <p class="card-text-precio"><small class="text-muted">Antes : 25.000, ahora</small>$20.000</p>
                <div id="contenedor-precios">
                  <h5 class="btn btn-success  me-3"><small class="text-light fw-bolder">Adicionar</small><span class="material-symbols-outlined ms-2">local_shipping</span></h5>
                  <h5 data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-info"><small class="text-muted fw-bolder"><span class="material-symbols-outlined">info</span></small></h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-6">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="https://png.pngtree.com/png-vector/20190321/ourlarge/pngtree-vector-discount-icon-png-image_854812.jpg" class="img-fluid rounded-start p-4" alt="...">
            </div>
            <div class="col-md-8" id="contenedor-texto">
              <div class="card-body">
                <h5 class="card-title">Producto 1</h5>
                <p class="card-text">Aprovecha el descuento de X producto. Conoce la mejor plantilla ...</p>
                <p class="card-text-precio"><small class="text-muted">Antes : 25.000, ahora</small>$20.000</p>
                <div id="contenedor-precios">
                  <h5 class="btn btn-success  me-3"><small class="text-light fw-bolder">Adicionar</small><span class="material-symbols-outlined ms-2">local_shipping</span></h5>
                  <h5 data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-info"><small class="text-muted fw-bolder"><span class="material-symbols-outlined">info</span></small></h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
