<div class="container">
  <div class="titulo mt-4 d-flex justify-content-between align-items-center">
    <div>
      <h6 class="fw-bold ms-3">Productos Registrados</h6>
    </div>
    <div id="container-btn-adicionar">
      <h6 class="me-3 btn btn-success" data-bs-toggle="modal" data-bs-target="#adicionarModal" translate="no">Adicionar<span id="edit" class="material-symbols-outlined text-light ">add</span></h6>
    </div>
  </div>
  <main class="container">
    <div class="card mt-1">
      <div class="table-responsive-sm">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Opcion</th>
              <th scope="col">Nombre</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Precio</th>
              <th scope="col">Categoria</th>
              <th scope="col">Imagenes</th>
              <th scope="col">Descuento</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of productos">
              <th scope="row">{{ producto.id }}</th>
              <td class="elementos" >
                <span id="edit" class="material-symbols-outlined text-success me-2" data-bs-toggle="modal" data-bs-target="#editModal" translate="no" (click)="obtenerProductoElegido(producto.id)">edit</span>
                <span id="delete" class="material-symbols-outlined text-danger me-2" translate="no" (click)="borrarInformacion(producto.id)" >delete</span>
                <span id="delete" class="material-symbols-outlined text-warning me-2" data-bs-toggle="modal"  data-bs-target="#imagenModalPhoto" translate="no" (click)="guardarId(producto.id)" >photo_camera</span>
                <span id="delete" class="material-symbols-outlined text-warning me-2" data-bs-toggle="modal"  data-bs-target="#imagenModal" translate="no" (click)="guardarId(producto.id)" >upload</span>
              </td>
              <td>{{ producto.name }}</td>
              <td>{{ producto.description }}</td>
              <td>{{ producto.price | currency: 'USD': 'symbol' }}</td>
              <td>{{ obttenerNombreCategoria(producto.category[0]) }}</td>
              <td id="link-image">
                <ul>
                  <li *ngFor="let image of producto.images; let i = index">
                    <span id="delete-img" class="material-symbols-outlined text-danger me-2" translate="no" (click)="borrarImagen(image.id)" >remove</span><a [href]="image.image" target="_blank">{{ i + 1 }}.imagen</a>
                  </li>
                </ul>
              </td>
              <td *ngIf="obtenerDescuento(producto.id) != '0'"  (click)="borrarDescuento(obtenerIdDescuento(producto.id))">{{ obtenerDescuento(producto.id) }} % <span id="deleteDiscont" class="material-symbols-outlined text-danger me-2" translate="no" >delete</span></td>
              <td *ngIf="obtenerDescuento(producto.id) == '0'" class="text-info"> Adicionar<span id="deleteDiscont" class="material-symbols-outlined text-info" data-bs-toggle="modal" data-bs-target="#discontModal" translate="no" (click)="guardarId(producto.id)" >percent</span> </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
  <div class="pagination-principal me-3">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" href="#" (click)="changePage($event, currentPage - 1)">Anterior</a>
      </li>
      <li class="page-item" *ngFor="let page of getPagesArray()" [class.active]="currentPage === page">
        <a class="page-link" href="#" (click)="changePage($event, page)">{{ page }}</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link" href="#" (click)="changePage($event, currentPage + 1)">Siguiente</a>
      </li>
    </ul>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Editar Producto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form class="modal-body" [formGroup]="form">
        <div class="col-sm-12">
          <label class="visually-hidden">Nombre</label>
          <div class="input-group">
            <div class="input-group-text"><span class="material-symbols-outlined" translate="no">person</span></div>
            <input type="text" class="form-control" placeholder="Nombre"  formControlName="name"
            [ngClass]="{'is-invalid': form.get('name')?.errors && form.get('name')?.dirty, 'is-valid': form.get('name')?.valid}">
            <div *ngIf="form.get('name')?.errors && form.get('name')?.dirty" class="invalid-feedback">
              <p *ngIf="form.get('name')?.hasError('required')">El nombre es requerido</p>
              <p *ngIf="form.get('name')?.hasError('pattern')">El nombre no cuenta con el formato correcto</p>
              <p *ngIf="form.get('name')?.hasError('minlength')">El nombre debe de tener minimo 3 caracteres</p>
              <p *ngIf="form.get('name')?.hasError('maxlength')">El nombre debe de tener maximo 60 caracteres</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 mt-2">
          <label class="visually-hidden">Description</label>
          <div class="input-group">
            <div class="input-group-text"> <span class="material-symbols-outlined" translate="no">description</span></div>
            <textarea type="text" class="form-control" placeholder="Detalle" formControlName="description"
            [ngClass]="{'is-invalid': form.get('description')?.errors && form.get('description')?.dirty, 'is-valid': form.get('description')?.valid}"></textarea>
            <div *ngIf="form.get('description')?.errors && form.get('description')?.dirty" class="invalid-feedback">
              <p *ngIf="form.get('description')?.hasError('required')">El nombre es requerido</p>
              <p *ngIf="form.get('description')?.hasError('pattern')">El nombre no cuenta con el formato correcto</p>
              <p *ngIf="form.get('description')?.hasError('minlength')">El nombre debe de tener minimo 3 caracteres</p>
              <p *ngIf="form.get('description')?.hasError('maxlength')">El nombre debe de tener maximo 150 caracteres</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 mt-2">
          <label class="visually-hidden">Price</label>
          <div class="input-group">
            <div class="input-group-text"><span class="material-symbols-outlined" translate="no">payments</span></div>
            <input type="number" class="form-control" placeholder="Precio" formControlName="price"
            [ngClass]="{'is-invalid': form.get('price')?.errors && form.get('price')?.dirty, 'is-valid': form.get('price')?.valid}">
            <div *ngIf="form.get('price')?.errors && form.get('price')?.dirty" class="invalid-feedback">
              <p *ngIf="form.get('price')?.hasError('required')">El nombre es requerido</p>
              <p *ngIf="form.get('price')?.hasError('pattern')">El precio minimo debe de ser 1</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 mt-2">
          <label class="visually-hidden">Price</label>
          <div class="input-group">
            <div class="input-group-text"><span class="material-symbols-outlined" translate="no">category</span></div>
            <select class="form-select form-select-sm" formControlName="category"
            [ngClass]="{'is-invalid': form.get('category')?.errors && form.get('category')?.dirty, 'is-valid': form.get('category')?.valid}">
            >
              <option value="" id="textoInicial" selected>Seleccionar Categoria</option>
              <option *ngFor="let cat of categoria" [value]="cat.id">{{ cat.name }}</option>
            </select>
            <div *ngIf="form.get('category')?.errors && form.get('category')?.dirty" class="invalid-feedback">
              <p *ngIf="form.get('category')?.hasError('required')">La categoria es requerida</p>
            </div>
          </div>
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" #cerrarModalButton id="cerrarModal" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-success" (click)="actualizarInformacion(2)" [disabled]="form.invalid">Guardar</button>
      </div>
    </div>
  </div>
</div>




<div class="modal fade" id="adicionarModal" tabindex="-1" aria-labelledby="adicionarModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="adicionarModalLabel">Editar Producto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form class="modal-body" [formGroup]="formAdicionar">
        <div class="col-sm-12">
          <label class="visually-hidden">Nombre</label>
          <div class="input-group">
            <div class="input-group-text"><span class="material-symbols-outlined" translate="no">person</span></div>
            <input type="text" class="form-control" placeholder="Nombre"  formControlName="name"
            [ngClass]="{'is-invalid': formAdicionar.get('name')?.errors && formAdicionar.get('name')?.dirty, 'is-valid': formAdicionar.get('name')?.valid}">
            <div *ngIf="formAdicionar.get('name')?.errors && formAdicionar.get('name')?.dirty" class="invalid-feedback">
              <p *ngIf="formAdicionar.get('name')?.hasError('required')">El nombre es requerido</p>
              <p *ngIf="formAdicionar.get('name')?.hasError('pattern')">El nombre no cuenta con el formato correcto</p>
              <p *ngIf="formAdicionar.get('name')?.hasError('minlength')">El nombre debe de tener minimo 3 caracteres</p>
              <p *ngIf="formAdicionar.get('name')?.hasError('maxlength')">El nombre debe de tener maximo 60 caracteres</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 mt-2">
          <label class="visually-hidden">Description</label>
          <div class="input-group">
            <div class="input-group-text"> <span class="material-symbols-outlined" translate="no">description</span></div>
            <textarea type="text" class="form-control" placeholder="Detalle" formControlName="description"
            [ngClass]="{'is-invalid': formAdicionar.get('description')?.errors && formAdicionar.get('description')?.dirty, 'is-valid': formAdicionar.get('description')?.valid}"></textarea>
            <div *ngIf="formAdicionar.get('description')?.errors && formAdicionar.get('description')?.dirty" class="invalid-feedback">
              <p *ngIf="formAdicionar.get('description')?.hasError('required')">El nombre es requerido</p>
              <p *ngIf="formAdicionar.get('description')?.hasError('pattern')">El nombre no cuenta con el formato correcto</p>
              <p *ngIf="formAdicionar.get('description')?.hasError('minlength')">El nombre debe de tener minimo 3 caracteres</p>
              <p *ngIf="formAdicionar.get('description')?.hasError('maxlength')">El nombre debe de tener maximo 150 caracteres</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 mt-2">
          <label class="visually-hidden">Price</label>
          <div class="input-group">
            <div class="input-group-text"><span class="material-symbols-outlined" translate="no">payments</span></div>
            <input type="number" class="form-control" placeholder="Precio" formControlName="price"
            [ngClass]="{'is-invalid': formAdicionar.get('price')?.errors && formAdicionar.get('price')?.dirty, 'is-valid': formAdicionar.get('price')?.valid}">
            <div *ngIf="formAdicionar.get('price')?.errors && formAdicionar.get('price')?.dirty" class="invalid-feedback">
              <p *ngIf="formAdicionar.get('price')?.hasError('required')">El nombre es requerido</p>
              <p *ngIf="formAdicionar.get('price')?.hasError('pattern')">El precio minimo debe de ser 1</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 mt-2">
          <label class="visually-hidden">Price</label>
          <div class="input-group">
            <div class="input-group-text"><span class="material-symbols-outlined" translate="no">category</span></div>
            <select class="form-select form-select-sm" formControlName="category"
            [ngClass]="{'is-invalid': formAdicionar.get('category')?.errors && formAdicionar.get('category')?.dirty, 'is-valid': formAdicionar.get('category')?.valid}">
            >
              <option value="" id="textoInicial" selected>Seleccionar Categoria</option>
              <option *ngFor="let cat of categoria" [value]="cat.id">{{ cat.name }}</option>
            </select>
            <div *ngIf="formAdicionar.get('category')?.errors && formAdicionar.get('category')?.dirty" class="invalid-feedback">
              <p *ngIf="formAdicionar.get('category')?.hasError('required')">La categoria es requerida</p>
            </div>
          </div>
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" #cerrarModalButtonAd id="cerrarModal" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-success" (click)="adicionarInformacion()" [disabled]="formAdicionar.invalid">Guardar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="imagenModal" tabindex="-1" aria-labelledby="imagenModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="imagenModalLabel">Editar Producto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form class="modal-body" [formGroup]="formFile">
        <input type="file" (change)="onFileSelected($event)" multiple>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" #cerrarModalButtonImg id="cerrarModal" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-success" (click)="uploadFile()">Guardar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="imagenModalPhoto" tabindex="-1" aria-labelledby="imagenModalPhotolLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="imagenModalPhotoLabel">Editar Producto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form class="modal-body" [formGroup]="formFile">
        <h6 class="btn btn-primary" type="button" id="texto-boton" (click)="takePicture()"><span class="material-symbols-outlined align-center">photo_camera</span>Tomar Foto</h6>
        <div *ngIf="imageView" id="contenedorImagen" class="mt-3">
          <img [src]="imageView" class="img-fluid rounded-top" alt="">
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" #cerrarModalButtonImgPhoto id="cerrarModal" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-success" (click)="uploadFilePhoto()">Guardar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="discontModal" tabindex="-1" aria-labelledby="discontModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="discontModalLabel">Editar Producto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form class="modal-body" [formGroup]="formDiscont">
          <div class="col-sm-12">
            <label class="visually-hidden">Porcentaje</label>
            <div class="input-group">
              <div class="input-group-text"><span class="material-symbols-outlined" translate="no">percent</span></div>
              <input type="number" class="form-control" placeholder="Porcentaje" formControlName="percentage"
              [ngClass]="{'is-invalid': formDiscont.get('percentage')?.errors && formDiscont.get('percentage')?.dirty, 'is-valid': formDiscont.get('percentage')?.valid}">
              <div *ngIf="formDiscont.get('percentage')?.errors && formDiscont.get('percentage')?.dirty" class="invalid-feedback">
                <p *ngIf="formDiscont.get('percentage')?.hasError('required')">El porcentaje requerido</p>
                <p *ngIf="formDiscont.get('percentage')?.hasError('min')">El porcentaje minimo es 1</p>
                <p *ngIf="formDiscont.get('percentage')?.hasError('max')">El porcentaje maximo es 100</p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 mt-2">
            <label class="visually-hidden">Fecha</label>
            <div class="input-group">
              <div class="input-group-text"> <span class="material-symbols-outlined" translate="no">calendar_month</span></div>
              <input type="date" class="form-control" placeholder="Detalle" formControlName="valid"
              [ngClass]="{'is-invalid': formDiscont.get('valid')?.errors && formDiscont.get('valid')?.dirty, 'is-valid': formDiscont.get('valid')?.valid}">
              <div *ngIf="formDiscont.get('valid')?.errors && formDiscont.get('valid')?.dirty" class="invalid-feedback">
                <p *ngIf="formDiscont.get('valid')?.hasError('required')">La fecha de validez es requerida</p>
              </div>
            </div>
          </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" #cerrarModalButtonDis id="cerrarModal" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-success" (click)="adicionarDescuento()" [disabled]="formDiscont.invalid" >Guardar</button>
      </div>
    </div>
  </div>
</div>
