<div class="container" id="container-general">
  <h5 class="text-center fw-bolder mt-4">Datos de Perfil</h5>
  <hr>
  <form class="row" [formGroup]="form">
    <div class="col-md-12">
      <div class="input-group mb-2">
        <span class="input-group-text" id="basic-addon1"><span class="material-symbols-outlined">account_circle</span></span>
        <input type="text" class="form-control" placeholder="Usuario" formControlName="username"
        [ngClass]="{'is-invalid': form.get('username')?.errors && form.get('username')?.dirty, 'is-valid': form.get('username')?.valid}">
          <div *ngIf="form.get('username')?.errors && form.get('username')?.dirty" class="invalid-feedback">
            <ng-container *ngFor="let error of errorMessage.username" >
              <small *ngIf="form.get('username')?.hasError(error.type)">{{error.message}}</small><br>
            </ng-container>
          </div>
      </div>
      <div class="input-group mb-2">
        <span class="input-group-text" id="basic-addon1"><span class="material-symbols-outlined">person</span></span>
        <input type="text" class="form-control" placeholder="Primer Nombre" formControlName="first_name"
        [ngClass]="{'is-invalid': form.get('first_name')?.errors && form.get('first_name')?.dirty, 'is-valid': form.get('first_name')?.valid}">
        <div *ngIf="form.get('first_name')?.errors && form.get('first_name')?.dirty" class="invalid-feedback">
          <ng-container *ngFor="let error of errorMessage.first_name" >
            <small *ngIf="form.get('first_name')?.hasError(error.type)">{{error.message}}</small><br>
          </ng-container>
        </div>
      </div>
      <div class="input-group mb-2">
        <span class="input-group-text" id="basic-addon1"><span class="material-symbols-outlined">account_circle</span></span>
        <input type="text" class="form-control" placeholder="Segundo Nombre" formControlName="last_name"
        [ngClass]="{'is-invalid': form.get('last_name')?.errors && form.get('last_name')?.dirty, 'is-valid': form.get('last_name')?.valid}">
        <div *ngIf="form.get('last_name')?.errors && form.get('last_name')?.dirty" class="invalid-feedback">
          <ng-container *ngFor="let error of errorMessage.last_name" >
            <small *ngIf="form.get('last_name')?.hasError(error.type)">{{error.message}}</small><br>
          </ng-container>
        </div>
      </div>
      <div class="input-group mb-2">
        <span class="input-group-text" id="basic-addon1"><span class="material-symbols-outlined">mail</span></span>
        <input type="text" class="form-control" placeholder="Correo" formControlName="email"
        [ngClass]="{'is-invalid': form.get('email')?.errors && form.get('email')?.dirty, 'is-valid': form.get('email')?.valid}">
        <div *ngIf="form.get('email')?.errors && form.get('email')?.dirty" class="invalid-feedback">
          <ng-container *ngFor="let error of errorMessage.email" >
            <small *ngIf="form.get('email')?.hasError(error.type)">{{error.message}}</small><br>
          </ng-container>
        </div>
      </div>
      <div class="input-group mb-2">
        <span class="input-group-text" id="basic-addon1"><span class="material-symbols-outlined">location_city</span></span>
        <input type="text" class="form-control" placeholder="Direccion" formControlName="address"
        [ngClass]="{'is-invalid': form.get('address')?.errors && form.get('address')?.dirty, 'is-valid': form.get('address')?.valid}">
        <div *ngIf="form.get('address')?.errors && form.get('address')?.dirty" class="invalid-feedback">
          <ng-container *ngFor="let error of errorMessage.address" >
            <small *ngIf="form.get('address')?.hasError(error.type)">{{error.message}}</small><br>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col-12 d-flex justify-content-end my-2 ">
      <button *ngIf="isEnableBiometryAuth" type="button" class="btn btn-danger" (click)="disabledBiometryAuth()">Deshabilitar Huella</button>
      <button type="button" class="btn btn-secondary" data-bs-toggle="modal"  data-bs-target="#passwordModal" >Cambiar Contraseña</button>
      <button *ngIf="!stateEdit" type="button" class="btn btn-warning" (click)="enableEdit()" >Editar</button>
      <button *ngIf="stateEdit" type="button" class="btn btn-warning" (click)="updateProfile()" [disabled]="form.invalid" >Actualizar</button>
    </div>
  </form>
</div>



<div class="modal fade" id="passwordModal" tabindex="-1" aria-labelledby="passwordModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="passwordModalLabel">Actualizar Contraseña</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form class="modal-body" [formGroup]="passwordForm">
        <div class="col-12 my-3">
          <div class="input-group form-outline">
            <span class="input-group-text"><span class="material-symbols-outlined">lock</span></span>
            <input type="password" class="form-control" placeholder="Contraseña" formControlName="password"
            [ngClass]="{'is-invalid': passwordForm.get('password')?.errors && passwordForm.get('password')?.dirty, 'is-valid': passwordForm.get('password')?.valid}">
              <div *ngIf="passwordForm.get('password')?.errors && passwordForm.get('password')?.dirty" class="invalid-feedback">
                <p *ngIf="passwordForm.get('password')?.hasError('required')">La constraseña es requerida</p>
                <div *ngIf="passwordForm.get('password')?.hasError('pattern')">
                  La constraseña debe de contenter:
                  <ul>
                    <li>Minimo 8 caracteres</li>
                    <li>Minimo 1 minuscula</li>
                    <li>Minimo 1 mayuscula</li>
                    <li>Minimo 1 caracter especial</li>
                  </ul>
                </div>
              </div>
          </div>
        </div>
        <div class="col-12 my-3">
          <div class="input-group form-outline">
            <span class="input-group-text"><span class="material-symbols-outlined">lock</span></span>
            <input type="password" class="form-control" placeholder="Confirmar Contraseña" formControlName="password2"
            [ngClass]="{'is-invalid': (passwordForm.get('password2')?.errors && passwordForm.get('password2')?.dirty) || passwordForm.errors , 'is-valid': passwordForm.get('password2')?.valid}">
              <div *ngIf="passwordForm.get('password2')?.errors && passwordForm.get('password2')?.dirty || passwordForm.errors " class="invalid-feedback">
                <p *ngIf="passwordForm.get('password')?.hasError('required')">La constraseña es requerida</p>
                <p *ngIf="passwordForm.errors">La contraseña no coincide</p>
              </div>
          </div>
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" #closePasswordModal id="cerrarModal" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-success" [disabled]="passwordForm.invalid" (click)="updatePassword()">Guardar</button>
      </div>
    </div>
  </div>
</div>

