<section class="container-general d-flex align-items-center vh-100">
  <div class="text-center text-lg-start" id="fondo">
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div id="container-titulos" class="col-lg-6 mb-lg-0">
          <span id="icono" class="material-symbols-outlined">star</span>
          <span id="icono" class="material-symbols-outlined">star</span>
          <span id="icono" class="material-symbols-outlined">star</span>
          <span id="icono" class="material-symbols-outlined">star</span>
          <span id="icono" class="material-symbols-outlined">star</span>
          <span id="icono" class="material-symbols-outlined">star</span>
          <span id="icono" class="material-symbols-outlined">star</span>
          <span id="icono" class="material-symbols-outlined">star</span>
          <span id="icono" class="material-symbols-outlined">star</span>
          <span id="icono" class="material-symbols-outlined">star</span>
          <h1 id="texto-titulo" class="my-1 display-3 fw-bold ls-tight">
            El mejor comercio <br />
            <span class="text-primary"> de software.</span>
          </h1>
          <p id="texto-normal">
            Encuentra todolo que buscas a travez de nuestra plataforma de mercado en linea. Como plantillas, tutorias, y demas.
          </p>
        </div>
        <div id="container-ingreso" class="col-lg-6">
          <div id="container-login" class="card">
            <div class="card-body">
              <form [formGroup]="form">
                <h6 class="text-center mb-3 fw-bolder">Iniciar Sesión</h6>
                <div class="form-outline mb-3">
                  <h6 id="texto-general-titulo">Nombre de usuario</h6>
                  <div class="input-group">
                    <span class="input-group-text"><span class="material-symbols-outlined">mail</span></span>
                    <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)" placeholder="Usuario" formControlName="username"
                    [ngClass]="{'is-invalid': form.get('username')?.errors && form.get('username')?.dirty}">
                    <div *ngIf="form.get('username')?.errors && form.get('username')?.dirty" class="invalid-feedback">
                      <p *ngIf="form.get('username')?.hasError('required')">El usuario es requerido</p>
                      <p *ngIf="form.get('username')?.hasError('pattern')">El usuario no cuenta con el formato correcto</p>
                    </div>
                  </div>
                </div>
                <div class="form-outline mb-3">
                  <h6 id="texto-general-titulo">Contraseña</h6>
                  <div class="input-group">
                    <span class="input-group-text"><span class="material-symbols-outlined">lock</span></span>
                    <input type="password" class="form-control" aria-label="Dollar amount (with dot and two decimal places)" placeholder="contraseña" formControlName="password"
                    [ngClass]="{'is-invalid': form.get('password')?.errors && form.get('password')?.dirty}">
                    <div *ngIf="form.get('password')?.errors && form.get('password')?.dirty" class="invalid-feedback">
                      <p *ngIf="form.get('password')?.hasError('required')">La contraseña es requerida</p>                    </div>
                  </div>
                </div>
                <div id="container-button">
                  <button type="button" class="btn btn-primary btn-block mb-2" (click)="verificarUsuario()" [disabled]="form.invalid">Ingresar</button>
                  <button *ngIf="isEnableBiometryAuth" type="button" class="btn btn-primary btn-block mb-2" (click)="biometryAuthProcess()"><span class="material-symbols-outlined">
                    fingerprint
                    </span></button>
                </div>
                <div id="container-reg">
                  <h6 class="me-1">¿No tienes cuenta?</h6>
                  <p routerLink="registrarse" id="texto-registro" class="text-center text-dark">Registrarse</p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
