.container-general{
  display: flex;
  place-content: center;
  background: #001C30;
  background: linear-gradient(90deg, #001C30 18%, #254b66 61%, #354550 100%);
}
#container-titulos{
  padding: 40px;

}
#texto-normal{
  color: white;
  font-size: 17px;

}
#texto-titulo{
  color: white;
  font-size: 50px;
}
#texto-titulo span{
  font-size: 40px;

}
#container-login{
  box-shadow: 2px -2px 26px -3px rgba(0,0,0,0.75);
}
#container-button{
  display: grid;
  place-content: center;
}
#container-button button{
  font-size: 13px;
  box-shadow: 2px -2px 10px -3px rgba(0,0,0,0.75);
}
#icono{
  font-size: 25px;
  color: white;
}
#texto-registro{
  font-size: 13px;
  font-weight: bolder;
  cursor: pointer;
}
#container-reg{
  display: flex;
  justify-content: center;
}
#container-reg h6{
  color: rgb(116, 116, 116);
  font-size: 11px;
  margin-top: 5px;
  font-weight: bolder;
  cursor: pointer;
}
input{
  font-size: 13px;
}
#texto-general-titulo{
  font-size: 12px;
  font-weight: bolder;
}
img{
  border: 1px solid rgb(177, 177, 177);
  border-radius: 10px;
  padding: 15px;
  max-width: 50px;
  max-height: 50px;
}
