<section class="container-general">
  <div class="px-4 py-5 px-md-5 text-center text-lg-start" id="fondo">
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div id="container-titulos" class="col-lg-6 mb-3 mb-lg-0">
          <span id="icono" class="material-symbols-outlined">star</span>
          <span id="icono" class="material-symbols-outlined">star</span>
          <span id="icono" class="material-symbols-outlined">star</span>
          <span id="icono" class="material-symbols-outlined">star</span>
          <span id="icono" class="material-symbols-outlined">star</span>
          <span id="icono" class="material-symbols-outlined">star</span>
          <span id="icono" class="material-symbols-outlined">star</span>
          <span id="icono" class="material-symbols-outlined">star</span>
          <span id="icono" class="material-symbols-outlined">star</span>
          <span id="icono" class="material-symbols-outlined">star</span>
          <h1 id="texto-titulo" class="my-1 display-3 fw-bold ls-tight">
            El mejor comercio <br />
            <span class="text-primary text-black"> de software.</span>
          </h1>
          <p id="texto-normal">
            Encuentra todolo que buscas a travez de nuestra plataforma de mercado en linea. Como plantillas, tutorias, y demas.
          </p>
        </div>
        <div id="container-ingreso" class="col-lg-6 mb-5 mb-lg-0">
          <div id="container-login" class="card">
            <div class="card-body py-5 px-md-5">
              <form>
                <h6 class="text-center mb-3 fw-bolder">Iniciar Sesión</h6>
                <div class="form-outline mb-3">
                  <div class="input-group">
                    <span class="input-group-text"><span class="material-symbols-outlined">mail</span></span>
                    <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)" placeholder="correo electronico">
                  </div>
                </div>
                <div class="form-outline mb-3">
                  <div class="input-group">
                    <span class="input-group-text"><span class="material-symbols-outlined">lock</span></span>
                    <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)" placeholder="contraseña">
                  </div>
                </div>
                <div id="container-button">
                  <button routerLink="usuarios" type="submit" class="btn btn-success btn-block mb-2">Ingresar</button>
                </div>
                <div>
                  <p routerLink="registrarse" id="texto-registro" class="text-center">registrarse</p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
