<div class="container-general">
  <h5 class="text-center fw-bolder mt-5">Total Pedido</h5>
  <div id="container-producto" class="mt-3">
    <!-- TODO: For de productos -->
    <div id="producto">
      <h6>Plantilla X</h6>
      <h6 class="ms-3">$25.000</h6>
    </div>
    <div id="producto">
      <h6>Plantilla X</h6>
      <h6 class="ms-3">$25.000</h6>
    </div>
  </div>

  <div class="container-total mt-3">
    <h6 class="ms-3">Total : $50.000</h6>
    <h6 class="btn btn-success">Pagar</h6>
  </div>

</div>
