<section class="container-general align-items-center">
  <div class="px-4 py-5 px-md-5 text-center text-lg-start" id="fondo">
    <div class="container">
      <div class="row align-items-center">
        <div id="container-titulos" class="col-lg-6">
          <div id="container-login" class="card">
            <div class="card-body">
              <form  [formGroup]="form">
                <h6 class="text-center fw-bolder">Registrarse</h6>
                <div class="form-outline mb-3">
                  <div class="input-group">
                    <span class="input-group-text"><span class="material-symbols-outlined">account_circle</span></span>
                    <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)" placeholder="nombre usuario" formControlName="username">
                  </div>
                </div>
                <div class="form-outline mb-3">
                  <div class="input-group">
                    <span class="input-group-text"><span class="material-symbols-outlined">person</span></span>
                    <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)" placeholder="nombre" formControlName="last_name">
                  </div>
                </div>
                <div class="form-outline mb-3">
                  <div class="input-group">
                    <span class="input-group-text"><span class="material-symbols-outlined">badge</span></span>
                    <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)" placeholder="apellido" formControlName="first_name">
                  </div>
                </div>
                <div class="form-outline mb-3">
                  <div class="input-group">
                    <span class="input-group-text"><span class="material-symbols-outlined">location_city</span></span>
                    <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)" placeholder="direccion" formControlName="address">
                  </div>
                </div>
                <div class="form-outline mb-3">
                  <div class="input-group">
                    <span class="input-group-text"><span class="material-symbols-outlined">mail</span></span>
                    <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)" placeholder="correo electronico" formControlName="email">
                  </div>
                </div>
                <div class="form-outline mb-3">
                  <div class="input-group">
                    <span class="input-group-text"><span class="material-symbols-outlined">lock</span></span>
                    <input type="password" class="form-control" aria-label="Dollar amount (with dot and two decimal places)" placeholder="asignar contraseña" formControlName="password"> 
                  </div>
                </div>
                <div class="form-outline mb-3">
                  <div class="input-group">
                    <span class="input-group-text"><span class="material-symbols-outlined">lock</span></span>
                    <input type="password" class="form-control" aria-label="Dollar amount (with dot and two decimal places)" placeholder="confirmar contraseña" formControlName="password2">
                  </div>
                </div>
                <div id="container-button">
                  <button type="submit" class="btn btn-primary success btn-block mb-2" (click)="adicionarInformacion()">Registrarse</button>
                </div>
                <div>
                  <p routerLink="" id="texto-registro" class="text-center">Iniciar Sesión</p>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div id="container-ingreso" class="col-lg-6">
          <div id="banderas">
            <span id="icono" class="material-symbols-outlined">sports_score</span>
            <span id="icono" class="material-symbols-outlined">sports_score</span>
            <span id="icono" class="material-symbols-outlined">sports_score</span>
            <span id="icono" class="material-symbols-outlined">sports_score</span>
            <span id="icono" class="material-symbols-outlined">sports_score</span>
            <span id="icono" class="material-symbols-outlined">sports_score</span>
            <span id="icono" class="material-symbols-outlined">sports_score</span>
            <span id="icono" class="material-symbols-outlined">sports_score</span>
            <span id="icono" class="material-symbols-outlined">sports_score</span>
            <span id="icono" class="material-symbols-outlined">sports_score</span>
            <span id="icono" class="material-symbols-outlined">sports_score</span>
          </div>
          <h1 id="texto-titulo" class="my-1 display-3 fw-bold ls-tight">
            El mejor comercio <br />
            <span class="text-primary"> de software.</span>
          </h1>
          <p id="texto-normal">
            Registrate y podras encontrar todos los productos que necesites, y a su vez cargar tus propios propductos.
          </p>
        </div>

      </div>
    </div>
  </div>
</section>
